<!DOCTYPE html>
<html lang="en">

<head>
   <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
   <title>Exam Center</title>
   <meta name=description content="Website Design" />
   <meta name=keywords content="Website Design" />
   <meta name="msvalidate.01" content="" />
   <meta name="web-author" content="Website Design" />
   <meta name="googlebot" content="all">
   <meta name="robots" content="index, follow" />
   <meta name="revisit-after" content="3 days">
   <meta name="copyright" content="Website Design ">
   <meta name="language" content="English">
   <meta name="reply-to" content="">
   <meta name="classification" content="Website Design" />
   <meta name="distribution" content="Global" />
   <meta name="rating" content="General" />
   <link rel="canonical" href="" />
   <meta property="og:locale" content="en_US" />
   <meta property="og:type" content="website" />
   <meta property="og:title" content="Website Design" />
   <meta property="og:description" content="Website Design" />
   <meta property="og:url" content="" />
   <meta property="og:site_name" content="Website Design" />
   <meta property="og:image" content="" />
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:description" content="Website Design" />
   <meta name="twitter:url" content="" />
   <meta name="twitter:title" content="Website Design" />
   <meta name="twitter:site" content="@website-design" />
   <meta name="twitter:creator" content="@website-design " />
   <meta name="twitter:image" content="asset/img/header/logo.png" />
   <!-- <link rel="shortcut icon" href="asset/img/header/favicon-dark.png" type="image/x-icon"> -->
   <link rel="icon" type="image/png" href="" sizes="192x192">
   <meta name="theme-color" content="#139ed9" />
   <meta name="google-site-verification" content="" />
   <!-- Vendor CSS Files -->
   <link rel="stylesheet" href="asset/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="asset/vendor/bijarniadream/bijarniadream.css">
   <!-- <link rel="stylesheet" href="asset/vendor/icofont/icofont.min.css"> -->
   <!-- <link rel="stylesheet" href="asset/vendor/boxicons/css/boxicons.min.css"> -->
   <!-- <link rel="stylesheet" href="asset/vendor/remixicon/remixicon.css"> -->
   <!-- <link rel="stylesheet" href="asset/vendor/line-awesome/css/line-awesome.min.css"> -->
   <link rel="stylesheet" href="asset/vendor/color_style/color_style.css">
   <!-- <link rel="stylesheet" href="asset/fonts/material-icons/material-icons.css"> -->
   <link rel="stylesheet" href="asset/vendor/materialize/materialize.css">
   <link rel="stylesheet" type="text/css" href="asset/vendor/vendors.min.css">
   <link rel="stylesheet" type="text/css" href="asset/vendor/select2/bootstrap-select.css">
   <link rel="stylesheet" type="text/css" href="asset/vendor/fast-select/fastselect.min.css">
   <link rel="stylesheet" href="asset/vendor/owl.carousel/asset/owl.carousel.min.css">
   <link rel="stylesheet" href="asset/vendor/venobox/venobox.css">
   <link rel="stylesheet" href="asset/vendor/aos/aos.css">
   <link rel="stylesheet" href="asset/css/style.css">
   <script src="asset/vendor/jquery/jquery.min.js"></script>
   <!-- <link rel="stylesheet" href="asset/css/responsive.css"> -->
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.3.6/dist/sweetalert2.css"> -->
   <?php include 'layouts/website_theme.php' ?>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
      @import url(https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css);



      :root {

         --font-family: 'Rubik', sans-serif;

         /*  Calculations Based on Lightness  */
         --lightnessTransform: 10%;
         --darknessTransform: 15%;
         --contrastThreshold: 60%;
         --transparency-0: 0%;
         --transparency-25: 25%;
         --transparency-50: 50%;
         --transparency-75: 75%;

         /*  primary  */
         --primary-color-h: 356;
         --primary-color-s: 84%;
         --primary-color-l: 58%;

         /*  secondary  */
         --secondary-color-h: 214;
         --secondary-color-s: 29%;
         --secondary-color-l: 19%;

         /*  info  */
         --info-color-h: 188;
         --info-color-s: 78%;
         --info-color-l: 41%;

         /*  success  */
         --success-color-h: 134;
         --success-color-s: 61%;
         --success-color-l: 42%;

         /*  danger  */
         --danger-color-h: 354;
         --danger-color-s: 70%;
         --danger-color-l: 53%;

         /*  warning  */
         --warning-color-h: 45;
         --warning-color-s: 100%;
         --warning-color-l: 51%;

         /*  light  */
         --light-color-h: 210;
         --light-color-s: 16%;
         --light-color-l: 97%;

         /*  dark  */
         --dark-color-h: 210;
         --dark-color-s: 10%;
         --dark-color-l: 23%;

         /*  black  */
         --black-color-h: 0;
         --black-color-s: 0%;
         --black-color-l: 0%;

         /*  white  */
         --white-color-h: 0;
         --white-color-s: 0%;
         --white-color-l: 100%;

         /*  muted  */
         --muted-color-h: 0;
         --muted-color-s: 0%;
         --muted-color-l: 87%;

         /*  blue  */
         --blue-color-h: 210;
         --blue-color-s: 100%;
         --blue-color-l: 50%;

         /*  indigo  */
         --indigo-color-h: 263;
         --indigo-color-s: 90%;
         --indigo-color-l: 50%;

         /*  purple  */
         --purple-color-h: 268;
         --purple-color-s: 68%;
         --purple-color-l: 45%;

         /*  pink  */
         --pink-color-h: 332;
         --pink-color-s: 79%;
         --pink-color-l: 57%;

         /*  red  */
         --red-color-h: 354;
         --red-color-s: 70%;
         --red-color-l: 53%;

         /*  orange  */
         --orange-color-h: 27;
         --orange-color-s: 98%;
         --orange-color-l: 53%;

         /*  yellow  */
         --yellow-color-h: 45;
         --yellow-color-s: 100%;
         --yellow-color-l: 51%;

         /*  green  */
         --green-color-h: 134;
         --green-color-s: 61%;
         --green-color-l: 40%;

         /*  teal  */
         --teal-color-h: 162;
         --teal-color-s: 72%;
         --teal-color-l: 46%;

         /*  cyan  */
         --cyan-color-h: 188;
         --cyan-color-s: 78%;
         --cyan-color-l: 40%;

         /*  gray  */
         --gray-color-h: 208;
         --gray-color-s: 7%;
         --gray-color-l: 46%;

         /*  graydark  */
         --graydark-color-h: 213;
         --graydark-color-s: 10%;
         --graydark-color-l: 17%;

      }
   </style>
   <script>
      function preventBack() {
         window.history.forward();
      }
      setTimeout("preventBack()", 0);
      window.onunload = function () { null };
   </script>
</head>

<body class="pt-0">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12 text-header h-80px shadow">
            <div class="row h-100 align-items-center">
               <div class="col-12">
                  <div class="row align-items-center">
                     <div class="col-auto">
                        <div class="row">
                           <div class="col">
                              <a href="#"><img src="assets/img/logo.png" alt="assets/img/logo.png" class="h-50px"></a>
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="row">
                           <div class="col text-center font-weight-bold text-gray text-uppercase">Exam &nbsp; Center
                           </div>
                        </div>
                     </div>
                     <div class="col-auto">
                        <div class="row">
                           <div class="dropdown col-auto btn-group dropleft">
                              <a class="btn btn-secondary dropdown-toggle border-0 shadow-none" href="javascript:;"
                                 role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                 aria-expanded="false">
                                 <span>
                                    <i class="fas fa-user-circle"></i>
                                 </span>
                              </a>
                              <div class="dropdown-menu py-0" aria-labelledby="dropdownMenuLink">
                                 <a class="dropdown-item py-2" href="javascript:;">Action</a>
                                 <a class="dropdown-item py-2" href="javascript:;">Another action</a>
                                 <a class="dropdown-item py-2" href="javascript:;">Something else here</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 test-body">
            <div class="row h-100">
               <div class="col-12 h-100">
                  <div class="row h-100">
                     <div class="col test-body-left py-3 h-100">
                        <div class="row mx-0 h-100 shadow rounded-10 border overflow-hidden d-block">
                           <div class="col-12 test-inner-header h-40px border-bottom bg-light">
                              <div class="row h-100 align-items-center">
                                 <div class="col font-weight-bold fs-17" id="quesitonNoCounter"> </div>
                                 <div class="col-auto font-weight-bold fs-15">
                                    <div class="row font-weight-bold">
                                       <div class="col-auto pr-1"><span class="text-gray">Correct Marks: </span><span
                                             class="text-success"> 4.00</span></div>
                                       <div class="col-autotext-gray px-0">,</div>
                                       <div class="col-auto pl-1"><span class="text-gray">Negative Marks: </span><span
                                             class="text-danger"> 1.00</span></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-12 test-inner-body overflow-auto">
                              <div class="row">
                                 <!-- question -->
                                 <div class="col-12">
                                    <div class="row">
                                       <div
                                          class="col-12 fs-15 py-3 border-bottom font-weight-500 text-gray question-box"
                                          id="question"> </div>
                                    </div>
                                 </div>
                                 <!-- option -->
                                 <div class="col-12 py-3">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="custom-control custom-radio mb-2">
                                             <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input" value="">
                                             <label
                                                class="custom-control-label fs-14 h-25px d-inline-flex align-items-center"
                                                for="customRadio1" id="option1"><span
                                                   class="mr-2 font-weight-bold">A.</span> </label>
                                          </div>
                                          <div class="custom-control custom-radio mb-2">
                                             <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input" value="">
                                             <label
                                                class="custom-control-label fs-14 h-25px d-inline-flex align-items-center"
                                                for="customRadio2" id="option2"><span
                                                   class="mr-2 font-weight-bold">B.</span> </label>
                                          </div>
                                          <div class="custom-control custom-radio mb-2">
                                             <input type="radio" id="customRadio3" name="customRadio"
                                                class="custom-control-input" value="">
                                             <label
                                                class="custom-control-label fs-14 h-25px d-inline-flex align-items-center"
                                                for="customRadio3" id="option3"><span
                                                   class="mr-2 font-weight-bold">C.</span> </label>
                                          </div>
                                          <div class="custom-control custom-radio mb-2">
                                             <input type="radio" id="customRadio4" name="customRadio"
                                                class="custom-control-input" value="">
                                             <label
                                                class="custom-control-label fs-14 h-25px d-inline-flex align-items-center"
                                                for="customRadio4" id="option4"><span
                                                   class="mr-2 font-weight-bold">D.</span> </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <!-- bottom buttons -->
                           <div class="col-12 test-inner-footer">
                              <div class="row justify-content-between">
                                 <div class="col-6">
                                    <div class="row">
                                       <div class="col-auto">
                                          <a id="markReviewAndNext"
                                             class="btn btn-orange d-inline-flex justify-content-center align-items-center py-0 px-2 border text-capitalize fs-14 h-35px">
                                             <i class="far fa-dot-circle"></i> <span class="ml-1">Mark for Review &
                                                Next</span></a>
                                       </div>
                                       <div class="col-auto pl-0">
                                          <a id="reset"
                                             class="btn btn-danger d-inline-flex justify-content-center align-items-center py-0 px-2 border text-capitalize fs-14 h-35px">
                                             <i class="far fa-ban"></i> <span class="ml-1">Reset Answer</span></a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-6">
                                    <div class="row justify-content-end">
                                       <div class="col-auto text-right">
                                          <a id="previous"
                                             class="btn btn-light d-inline-flex justify-content-center align-items-center py-0 px-2 border text-capitalize fs-14 h-35px"><i
                                                class="far fa-long-arrow-alt-left"></i><span class="ml-1">prev</span>
                                          </a>
                                       </div>
                                       <div class="col-auto pl-0 text-right" id="saveAndNextDiv">
                                          <a id="saveAndNext"
                                             class="btn btn-success d-inline-flex justify-content-center align-items-center py-0 px-2 border text-capitalize fs-14 h-35px">
                                             <i class="far fa-sign-out-alt"></i> <span class="ml-1">Save &amp;
                                                Next</span></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-auto test-body-right py-3 pl-0 h-100">
                        <div class="row mx-0 h-100 overflow-hidden d-block">
                           <div class="col-12">
                              <div class="row">
                                 <!-- timmer in top right portion  -->

                                 <div class="col-12 border test-times">
                                    <div class="row text-center font-weight-bold fs-17 py-1 align-items-center">
                                       <div class="col">
                                          <div class="row">
                                             <div class="col" id="hours"> </div>
                                          </div>
                                          <div class="row">
                                             <div class="col fs-10 text-gray">Hours</div>
                                          </div>
                                       </div>
                                       <div class="col">
                                          <div class="row">
                                             <div class="col" id="minutes"> </div>
                                          </div>
                                          <div class="row">
                                             <div class="col fs-10 text-gray">Minutes</div>
                                          </div>
                                       </div>
                                       <div class="col">
                                          <div class="row">
                                             <div class="col" id="seconds"> </div>
                                          </div>
                                          <div class="row">
                                             <div class="col fs-10 text-gray">Seconds</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Subject heading  and answer model  -->
                                 <div class="col-12 shadow border test-questions-box mt-2">
                                    <div class="row py-1 align-items-center">
                                       <div class="col-12">
                                          <div class="row">
                                             <div
                                                class="col-12 font-weight-bold fs-15 h-40px d-grid align-items-center bg-light border-bottom">
                                                Basic Computer</div>
                                          </div>
                                       </div>
                                       <div class="col-12 mb-2 overflow-auto test-question-box-h">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="row row-cols-7 mx-n2">
                                                   <% if(questions) { %>
                                                      <% let count=1 %>
                                                         <% for( let qn of questions) { %>
                                                            <div class="col text-center py-2 px-0">
                                                               <a id="<%=qn._id %>"
                                                                  class="btn btn-light border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center"
                                                                  onclick="showQuestion('<%= count %>')"><span
                                                                     class="review_mark fs-14 position-absolute top-n6px right-0px"><i
                                                                        class=""></i></span>
                                                                  <%= count %>
                                                               </a>
                                                               <% count ++ %>
                                                            </div>
                                                         <% } %>
                                                   <% } %>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- bottom right button -->
                                       <div class="col-12 test-finish-btn">
                                          <div class="row">
                                             <div class="col-12 py-1">
                                                <a href="javascript:;" id="examFinish" data-toggle="modal"
                                                   data-target="#exam_finish"
                                                   class="btn btn-danger d-block py-1 fs-15 text-capitalize"><i
                                                      class="far fa-lock"></i> <span class="ml-1"> Exam
                                                      Finish</span></a>
                                             </div>
                                             <div class="col-12 py-1">
                                                <a href="javascript:;" data-toggle="modal" data-target="#instruction"
                                                   class="btn btn-info d-block py-1 fs-15 text-capitalize"><i
                                                      class="fal fa-question"></i> <span
                                                      class="ml-1">instruction</span></a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- footer Nav bar  -->
         <div class="col-12 text-footer h-60px shadow border-top">
            <div class="row h-100 align-items-center">
               <div class="col-12">
                  <div class="row align-items-center">
                     <div class="col-auto fs-14 text-gray">Copyright &copy; <b>Exam Center</b></div>
                     <div class="col fs-14 text-center text-gray" id="time"> </div>
                     <div class="col-auto fs-14 text-gray"><b>Powered by</b> <a target="_blank"
                           class="text-decoration-none font-weight-bold">Exam Center</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- review answer sheet model  -->
   <div class="modal fade exam_finish" id="exam_finish" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
            <div class="modal-header text-center bg-light shadow">
               <h5 class="modal-title w-100 fs-18 text-uppercase" id="exampleModalLabel">Your Attempts</h5>
               <button type="button"
                  class="close position-absolute bg-light border shadow text-wite right-30px rounded-pill fs-20 w-25px h-25px p-0 d-flex justify-content-center align-items-center font-weight-normal top-32px"
                  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body pb-0">
               <div class="exam_attemped">
                  <div class="row">
                     <div class="col-6">
                        <div class="row d-inline-flex align-items-center mx-0 bg-green rounded py-0 px-0">
                           <div class="col-auto pl-1 pr-2">
                              <h3 class="fs-13 mb-0 text-white">Total Attempted:</h3>
                           </div>
                           <div class="col-auto pr-1  pl-0">
                              <span class="fs-13 text-white">12</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-6 text-right">
                        <div class="row mx-0 d-inline-flex align-items-center bg-primary rounded py-0 px-0">
                           <div class="col-auto pl-1 pr-2">
                              <h3 class="fs-13 mb-0 text-white">Not Attempted:</h3>
                           </div>
                           <div class="col-auto pr-1 pl-0">
                              <span class="fs-13 text-white">18</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-5">
                     <div class="col-12">
                        <table class="table">
                           <thead class="thead-dark">
                              <tr>
                                 <th scope="col">Q NO.</th>
                                 <th scope="col">Status</th>
                                 <th scope="col">Q NO.</th>
                                 <th scope="col">Status</th>
                                 <th scope="col">Q NO.</th>
                                 <th scope="col">Status</th>
                                 <th scope="col">Q NO.</th>
                                 <th scope="col">Status</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% if(questions) { %>
                                 <% let total=questions.length %>
                                    <% let count=1 %>
                                       <% let number=Math.ceil(total/4) %>
                                          <% for(let i=number; i>0 ; i--) {%>
                                             <tr>
                                                <% for(let i=4; i>0; i-- ) {%>
                                                   <td><strong class="fs-14">
                                                         <%=count %>
                                                      </strong></td>
                                                   <td> <span
                                                         class="bg-primary fs-13 h-25px w-25px d-flex align-items-center justify-content-center rounded-pill mx-auto"
                                                         id="<%=`m${questions[count-1]._id}` %>"></span>
                                                   </td>
                                                   <% count ++ %>
                                                      <% } %>
                                             </tr>
                                          <% } %>
                                    <% } %>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="row border-top shadow bg-light mt-4 pt-3 pb-3">
                     <div class="col-6 text-left">
                        <a href="examSubmit" class="btn btn-danger d-inline-block py-1 mt-0 fs-14 text-capitalize"><span
                              class="">Submit</span></a>
                     </div>
                     <div class="col-6 text-right">
                        <a href="javascript:;" data-dismiss="modal"
                           class="btn btn-danger d-inline-block py-1 mt-0 fs-14 text-capitalize"><span
                              class="">Close</span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- Vendor JS Files -->
   <script src="asset/vendor/venobox/venobox.min.js"></script>
   <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="asset/vendor/aos/aos.js"></script>
   <script src="asset/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="asset/vendor/php-email-form/validate.js"></script>
   <script src="asset/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="asset/vendor/counterup/counterup.min.js"></script>
   <script src="asset/vendor/jquery-sticky/jquery.sticky.js"></script>
   <script src="asset/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="asset/vendor/select2/bootstrap-select.js"></script>
   <script src="asset/vendor/fast-select/fastselect.standalone.js"></script>
   <script src="asset/vendor/main-js/main.js"></script>

</body>

</html>

<!-- Button trigger modal -->
<!-- Modal -->
<!-- instruction model  -->
<div class="modal fade instruction" id="instruction" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
         <div class="modal-body bg-light border rounded">
            <div class="instruction_content position-relative row mx-0 shadow rounded bg-white p-3">
               <div class="col-12 text-center">
                  <strong class="fs-18 d-block text-center text-secondary">- Please read the following instructions
                     carefully -</strong>
               </div>
               <div class="col-12 my-4">
                  <div class="row">
                     <div class="col-12 mb-3 fs-18 text-secondary font-weight-bold">General Instructions :-</div>
                     <div class="col-12">
                        <ul class="list_count list_count pl-4 mb-4">
                           <li class="">
                              <p class="fs-15">You have given time to complete the test.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">A countdown timer at the top right corner of your screen will display the
                                 time remaining for you to complete the exam. When the clock runs out, the exam ends by
                                 default - you are not required to end or submit your exam.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">The question palette at the right of the screen shows one of the
                                 following statuses of each of the questions numbered:</p>
                              <ul class="list-unstyled">
                                 <li class="d-flex aligh-items-start mb-2">
                                    <a href="javascript:;"
                                       class="rounded-pill fs-14 bg-light border shadow h-30px w-30px d-flex align-items-center justify-content-center"><i
                                          class="fad fa-hand-point-right"></i></a>
                                    <p class="fs-15 mb-0 d-flex align-items-center ml-2">You have not visited the
                                       question yet.</p>
                                 </li>
                                 <li class="d-flex aligh-items-start mb-2">
                                    <a href="javascript:;"
                                       class="rounded-pill fs-14 bg-orange shadow h-30px w-30px d-flex align-items-center justify-content-center"><i
                                          class="fad fa-hand-point-right"></i></a>
                                    <p class="fs-15 mb-0 d-flex align-items-center ml-2">You have not answered the
                                       question.</p>
                                 </li>
                                 <li class="d-flex aligh-items-start mb-2">
                                    <a href="javascript:;"
                                       class=" position-relative rounded-pill fs-14 bg-orange shadow h-30px w-30px d-flex align-items-center justify-content-center"><i
                                          class="fas fa-hand-point-right"></i>
                                       <span class="fs-14 position-absolute top-n5px right-n2px"><i
                                             class="fas fa-check text-success font-weight-bold"></i></span> </a>
                                    <p class="fs-15 mb-0 d-flex align-items-center ml-2">You have answered the question
                                       but marked it for review.</p>
                                 </li>
                                 <li class="d-flex aligh-items-start mb-2">
                                    <a href="javascript:;"
                                       class="rounded-pill fs-14 bg-success shadow h-30px w-30px d-flex align-items-center justify-content-center"><i
                                          class="fad fa-hand-point-right"></i></a>
                                    <p class="fs-15 mb-0 d-flex align-items-center ml-2">You have answered the question.
                                    </p>
                                 </li>
                                 <li class="d-flex aligh-items-start mb-2">
                                    <a href="javascript:;"
                                       class="rounded-pill fs-14 bg-pink shadow h-30px w-30px d-flex align-items-center justify-content-center"><i
                                          class="fad fa-hand-point-right"></i></a>
                                    <p class="fs-15 mb-0 d-flex align-items-center ml-2">You have NOT answered the
                                       question but have marked the question for review.</p>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                        <span class="fs-16 text-primary"><strong class="fs-16 text-secondary">Note :</strong> If an
                           answer is selected for a question that is Marked for Review, the answer will be considered in
                           the final evaluation.</span>
                     </div>
                  </div>
                  <div class="row mt-4">
                     <div class="col-12 mb-3 fs-18 text-secondary font-weight-bold">Navigating to a question :-</div>
                     <div class="col-12">
                        <ul class="list_count list_count pl-4 mb-4">
                           <li class="">
                              <p class="fs-15">To select a question to answer, you can do one of the following:</p>
                              <ul class="pl-0 list-unstyled">
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>Click on the question
                                       number on the question palette at the right of your screen to go to that numbered
                                       question directly. Note that using this option does NOT save your answer to the
                                       current question.</p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>Click on Save and Next
                                       to save answer to current question and to go to the next question in sequence.
                                    </p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>Click on Mark for
                                       Review and Next to save answer to current question, mark it for review, and to go
                                       to the next question in sequence.</p>
                                 </li>
                              </ul>
                           </li>
                           <li class="">
                              <p class="fs-15">You can view the entire paper by clicking on the Question Paper button.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row mt-2">
                     <div class="col-12 mb-3 fs-18 text-secondary font-weight-bold">Answering questions :-</div>
                     <div class="col-12">
                        <ul class="list_count list_count pl-4 mb-4">
                           <li class="">
                              <p class="fs-15">For multiple choice type question :</p>
                              <ul class="pl-0 list-unstyled">
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>To select your answer,
                                       click on one of the option buttons</p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>To change your answer,
                                       click the another desired option button</p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>To save your answer,
                                       you MUST click on Save & Next</p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>To deselect a chosen
                                       answer, click on the chosen option again or click on the Clear Response button.
                                    </p>
                                 </li>
                                 <li class="">
                                    <p class="d-flex fs-15 mb-3"><i
                                          class="mt-1 far fa-star mr-2 fs-14 text-secondary"></i>To mark a question for
                                       review click on Mark for Review & Next. If an answer is selected for a question
                                       that is Marked for Review, the answer will be considered in the final evaluation.
                                    </p>
                                 </li>
                              </ul>
                           </li>
                           <li class="">
                              <p class="fs-15">To change an answer to a question, first select the question and then
                                 click on the new answer option followed by a click on the Save & Next button.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">Questions that are saved or marked for review after answering will ONLY
                                 be considered for evaluation.</p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row mt-2">
                     <div class="col-12 mb-3 fs-18 text-secondary font-weight-bold">Navigating through sections :-</div>
                     <div class="col-12">
                        <ul class="list_count list_count pl-4 mb-4">
                           <li class="">
                              <p class="fs-15">Sections in this question paper are displayed on the top bar of the
                                 screen. Questions in a section can be viewed by clicking on the section name. The
                                 section you are currently viewing is highlighted.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">After clicking the Save & Next button on the last question for a section,
                                 you will automatically be taken to the first question of the next section.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">You can move the mouse cursor over the section names to view the status
                                 of the questions for that section.</p>
                           </li>
                           <li class="">
                              <p class="fs-15">You can shuffle between sections and questions anytime during the
                                 examination as per your convenience.</p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row d-none">
                     <div class="col-12">
                        <div class="instruction_footer mt-2 text-center border bg-light rounded shadow px-4 py-4">
                           <div class="custom-control custom-checkbox mt-1 d-flex align-items-center">
                              <input class="custom-control-input" type="checkbox" id="start-test">
                              <label class="custom-control-label fs-15 text-left" for="start-test">The computer provided
                                 to me is in proper working condition. I have read and understood the instructions given
                                 above</label>
                           </div>
                           <a href="javascript:;"
                              class="btn btn-danger d-inline-block py-1 mt-3 fs-15 text-capitalize"><i
                                 class="far fa-edit"></i> <span class="ml-1">Start Exam</span></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   var questionNo = 0;
   var questions;
   var questionId;
   var tempQuestionId;
   var Data;

   $(document).ready(function () {
      $.ajax({
         url: "/questions",
         method: "get",
         success: function (data) {
            questions = data.questions;
            questionId = question();
            timer();
            selected();

         }
      });
   });

   // save and next button functionality..........................
   $("#saveAndNext").click(function () {
      if (questionNo < questions.length) {
         let answerValue = $("input[name='customRadio']:checked").val();
         let answerValueId = $("input[name='customRadio']:checked").attr("id");
         let status = "save";
         save(answerValueId, answerValue, status);
         if(answerValue){
            $(`#${questionId}`).attr("class", "btn btn-success border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
            $(`#${questionId} i`).attr("class", " ");
         }else{
            $(`#${questionId}`).attr("class", "btn btn-danger border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
            $(`#${questionId} i`).attr("class", " ");
         }
         $('input[name="customRadio"]').prop('checked', false);
         if (questionNo < questions.length - 1) {
            questionNo++;
            questionId = question();
            button();
            selected();
         } else {
            selected();
         };
      };
   });

   // Previous button functionality ...............................
   $("#previous").click(function () {
      if (questionNo == 0) {
         $("#previous").prop("disabled", true);
      } else {
         $("#previous").prop("disabled", false);
         tempQuestionId = questionId;
         questionNo--;
         questionId = question();
         selected();
         color();
         button();
      };
   });

   // mark Review and next button ................................
   $("#markReviewAndNext").click(function () {
      if (questionNo < questions.length) {
         let answerValue = $("input[name='customRadio']:checked").val();
         if (answerValue) {
            let answerValueId = $("input[name='customRadio']:checked").attr("id");
            let status = "R&NWithAnswer";
            save(answerValueId, answerValue, status)
            $(`#${questionId}`).attr("class", "position-relative overflow-unset btn btn-orange border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center");
            $(`#${questionId} i`).attr("class", "fas fa-check text-success font-weight-bold");
            $('input[name="customRadio"]').prop('checked', false);
            if (questionNo < questions.length - 1) {
               questionNo++;
               questionId = question();
               button();
               selected();
            } else {
               selected();
            };
         } else {
            let answerValueId = $("input[name='customRadio']:checked").attr("id");
            let status = "reviewAndNext";
            save(answerValueId, answerValue, status)
            $(`#${questionId}`).attr("class", "position-relative overflow-unset btn btn-orange border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center");
            $(`#${questionId} i`).attr("class", " ");
            if (questionNo < questions.length - 1) {
               questionNo++;
               questionId = question();
               button();
               selected();
            } else {
               selected();
            };
         };
      };
   });

   // reset Button ..............................................
   $("#reset").click(function () {
      $('input[name="customRadio"]').prop('checked', false);
   });

   //finish exam ......................
   $("#examFinish").click(function () {
      console.log("click on exam finished.")
      $.ajax({
         url: "/getAnswers",
         method: "get",
         success: function (answers) {
            console.log("answersgot in final submission", answers);
            for (let ans of answers) {
               if (ans.answerValueId) {
                  switch (ans.answerValueId) {
                     case ('customRadio1'): {
                        $(`#m${ans.questionId}`).html('a');
                        break;
                     }
                     case ('customRadio2'): {
                        $(`#m${ans.questionId}`).html('b');
                        break;
                     }
                     case ('customRadio3'): {
                        $(`#m${ans.questionId}`).html('c');
                        break;
                     }
                     case ('customRadio4'): {
                        $(`#m${ans.questionId}`).html('d');
                        break;
                     }
                  };
               };
            };
         },
      });
   });

   // show function ......................................
   function showQuestion(qn) {
      $(`#${questionId}`).attr("class", "btn btn-light border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
      questionNo = qn - 1;
      tempQuestionId = questionId;
      questionId = question();
      button();
      if (tempQuestionId !== questionId) {
         color();
      }
      selected();
   };

   // function to show question ........................
   function question() {
      $(`#${questions[questionNo]._id}`).attr("class", "btn btn-blue border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
      $("#quesitonNoCounter").html(`Question No :  ${questionNo + 1}`)
      $("#question").html(questions[questionNo].question);
      $("#option1").html(questions[questionNo].option[0]);
      $("#customRadio1").val(questions[questionNo].option[0]);
      $("#option2").html(questions[questionNo].option[1]);
      $("#customRadio2").val(questions[questionNo].option[1]);
      $("#option3").html(questions[questionNo].option[2]);
      $("#customRadio3").val(questions[questionNo].option[2]);
      $("#option4").html(questions[questionNo].option[3]);
      $("#customRadio4").val(questions[questionNo].option[3]);
      return questions[questionNo]._id;
   };

   // save function to save answer sheet ....................................
   function save(answerValueId, answerValue, status) {
      $.ajax({
         url: "/saveAnswer",
         method: "post",
         data: {
            questionId: questionId,
            answer: answerValue,
            answerValueId,
            status,
         },
      });
   };

   // selected checkbox according to his previous option .................................
   function selected() {
      $.ajax({
         url: "/getColor",
         method: "get",
         success: function (data) {
            if (data) {
               let answer = data.find(j => j.questionId == questionId);
               if (answer) {
                  if (answer.answer) {
                     $(`#${answer.answerValueId}`).prop("checked", true);
                  } else {
                     $('input[name="customRadio"]').prop('checked', false);
                  };
               } else {
                  $('input[name="customRadio"]').prop('checked', false);
               };
            };
         },
      });
   };

   //getcolour of button 
   function color() {
      $.ajax({
         url: "/getColor",
         method: "get",
         success: function (data) {
            if (data) {
               let status = data.find(i => i.questionId == tempQuestionId);
               if (status) {
                  switch (status.status) {
                     case ("save"): {
                        if(status.answer){
                           $(`#${tempQuestionId}`).attr("class", "btn btn-success border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
                           $(`#${tempQuestionId} i`).attr("class", " ");
                        }else{
                           $(`#${tempQuestionId}`).attr("class", "btn btn-danger border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center")
                           $(`#${tempQuestionId} i`).attr("class", " ");
                        }
                        break;
                     };
                     case ("R&NWithAnswer"): {
                        $(`#${tempQuestionId}`).attr("class", "position-relative overflow-unset btn btn-orange border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center");
                        $(`#${tempQuestionId} i`).attr("class", "fas fa-check text-success font-weight-bold");
                        break;
                     };
                     case ("reviewAndNext"): {
                        $(`#${tempQuestionId}`).attr("class", "position-relative overflow-unset btn btn-orange border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center");
                        $(`#${tempQuestionId} i`).attr("class", " ");
                        break;
                     };
                  };
               }else{
                  $(`#${tempQuestionId}`).attr("class", "btn btn-light border p-0 mx-auto rounded-pill fs-14 w-35px h-35px d-grid align-items-center justify-content-center");
                  $(`#${tempQuestionId} i`).attr("class", " ");
               };
            };
         },
      });
   };

   // button functions....................
   function button() {
      if (questionNo == questions.length - 1) {
         $("#saveAndNextDiv span").html("save");
         $("#markReviewAndNext span").html("Mark for Review");
      }else{
         $("#saveAndNextDiv span").html('Save &amp; Next');
         $("#markReviewAndNext span").html('Mark for Review & Next');

      };
   };

   //Current Date and Time.
   setInterval(function () {
      var today = new Date();
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + " || " + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      $("#time").html(`<b>Date & Time </b> ${date}`);
   }, 1000);

   //timmer Script --------------------------
   function timer() {
      setInterval(function () {
         $.ajax({
            url: "/timer",
            method: "get",
            success: function (res) {
               $("#hours").html(res.hours);
               $("#minutes").html(res.minutes);
               $("#seconds").html(res.seconds);
            }
         });
      }, 1000);

      // var timer;
      // var compareDate = new Date();
      // compareDate.setHours(compareDate.getHours() + Number(duration));
      // timer = setInterval(function () {
      //    console.log("funcation called");
      //    timeBetweenDates(compareDate);
      // }, 1000);

      // function timeBetweenDates(toDate) {
      //    var dateEntered = toDate;
      //    var now = new Date();
      //    var difference = dateEntered.getTime() - now.getTime();
      //    console.log("difference", difference);
      //    if (difference <= 0) {
      //       window.location.href = '/examSubmit';
      //    } else {
      //       var seconds = Math.floor(difference / 1000);
      //       var minutes = Math.floor(seconds / 60);
      //       var hours = Math.floor(minutes / 60);
      //       hours %= 60
      //       minutes %= 60;
      //       seconds %= 60;
      //       $("#hours").html(hours);
      //       $("#minutes").html(minutes);
      //       $("#seconds").html(seconds);
      //    }
      // };
   };

</script>